* {
    /* outline: 2px dashed tomato; */
    box-sizing: border-box;
    font-family: "Quattrocento", serif;
    color: whitesmoke;
}

:root {
    background-color: #1d1c1c;
}

.site-header {
    align-items: end;
    border-bottom: 3px solid #2a2929;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.logo {
    margin-left: 100px;
}

.navigation-list {
    display: flex;
    gap: 2px;
    list-style: none;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-top: 75px;
}

.navigation-link {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    letter-spacing: 2px;
    padding-bottom: 13px;
    padding-top: 17px;
}

.game-link {
    border-radius: 15px;
}

.navigation-link:hover,
.game-link:hover {
    background-color: #1d1c1c;
}

.section-title {
    font-size: 48px;
    letter-spacing: 5px;
    margin: 0px;
}

.main-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

a {
    background-color: #2a2929;
    color: whitesmoke;
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}

.game-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.media-title {
    margin-top: 10px;
    text-align: center;
}