* {
    font-family: "Quattrocento", serif;
  }
  
:root {
    background-color: #1d1c1c;
}

h1 {
    color: whitesmoke;
}

p { 
    color: whitesmoke;
}

a {
    background-color: #2a2929;
    color: whitesmoke;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

